<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.bicycle.domain.BicycleMapper">

	<insert id="registBicycle" parameterType="Bicycle">
		INSERT INTO bicycle
		VALUES(#{bicycleRegNum}, #{bicycleKinds}, #{bicycleCompany}, #{bicycleAddress}, #{bicycleOwner})
	</insert>
	
</mapper>